body{
    background-color: aqua;
}

.Inicio-sesion{
    margin-left: 30%;
    margin-right: 20%;
}

.Registro{
    margin-left: 30%;
    margin-right: 20%;
}

.col-12{
    margin-left: 30%;
    margin-right: 20%;
}

